body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  font-size: 19px; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Source Code Pro', monospace
}


#console {
	font-family: courier, monospace;
	color: #fff;
	width:750px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	font-size:14px;
}

a {
	color: #7dd3fc;
	text-decoration: none;
}

#a {
	color: #0bc;
}

#c {
	color: #0bc;
}

#b {
	color: #ff0096;
}
#g{
  color: #a78bfa;
}

#k {
    	animation: change 1s;
}

#e{
  color: #ff0883;
}

#f{
  color: #1aea0b;
}

#op{
    	color: #888888
}


#z{
  color: #ffa07a;
}

#w{
 color: #c8c8c8;
}

#link{
  color: #7dd3fc;
}

#cmd{
  color: #ffd700;
  font-weight: 500;
}

.code-block{
  margin-top: 1rem;
}